@charset "utf-8";
@import "glyphicons.css";

*{
  font-family: '微软雅黑 Regular', '微软雅黑';
}
button:active,button:focus{
  outline: none;
}
.text-theme{
  color:#19aa8d;
}
/* 字体样式 */
.ihr-font-12{
  font-size:12px;
}
.ihr-font-12-bold{
  font-size:12px;
  font-weight: bold;
}
.ihr-width-full{
  width:100%;
}
/* 按钮样式 */
.ihr-btn{
  height:22px;
  line-height: 17px;
  border-radius: 3px;
  padding:3px 12px;
  color:#666666;
  font-size:12px;
  cursor: pointer;
  border:1px solid #ddd;
  background-color:#fff;
}
.ihr-btn-oval {/*椭圆按钮*/
  height:22px;
  line-height: 17px;
  border-radius: 22px;
  padding:3px 12px;
  color:#666666;
  font-size:12px;
  cursor: pointer;
  border:1px solid #ddd;
  background-color:#fff;
}
.ihr-btn:active{
  -moz-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
}
.ihr-btn-theme{/*主题色*/
  border:0;
  color:#fff;
  background-color:#19aa8d;
}
.ihr-btn-theme:hover{
  background-color:#159379;
}

.ihr-btn-default:hover{
  border-color:rgba(204, 204, 204, 1);
  background-color: #f2f2f2;
}

.ihr-btn-assist{/* 次要颜色 */
  border-color:#19aa8d;
  color:#19aa8d;
}
.ihr-btn-assist:hover{
  background-color:rgba(232, 247, 244, 1);
}

.ihr-btn-danger{/*红色*/
  border:0;
  color:#fff;
  background-color:rgba(237, 85, 101, 1);
}
.ihr-btn-danger:hover{
  background-color:rgba(233, 39, 58, 1);
}

.ihr-btn-warning{/*黄色*/
  border:0;
  color:#fff;
  background-color:rgba(248, 172, 89, 1);
}
.ihr-btn-warning:hover{
  background-color:rgba(245, 145, 33, 1);
}
.ihr-btn-link{/*链接*/
  font-size:12px;
  border:none;
  background-color: transparent;
  color:#19aa8d;
}
.ihr-btn-link:hover{
  text-decoration: underline;
}
/* 禁用按钮 */
.ihr-btn-theme-disabled{
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(25, 170, 141, 1);
  border:none;
}
.ihr-btn-default-disabled{
  border-color: rgba(229, 230, 231, 1);
  background-color: rgba(242, 242, 242, 1);
  color: rgba(102, 102, 102, 0.5);
}
.ihr-btn-assist-disabled{
  border-color: rgba(25, 170, 141, 0.5);
  color: rgba(25, 170, 141, 0.5);
}
.ihr-btn-danger-disabled{
  border:none;
  background-color: rgba(237, 85, 101, 1);
  color: rgba(255, 255, 255, 0.5);
}
.ihr-btn-warning-disabled{
  border:none;   
  background-color: rgba(248, 172, 89, 1);
  color: rgba(255, 255, 255, 0.5);
}
.ihr-btn-link-disabled{
  font-size:12px;
  border:none;
  background-color: transparent;
  text-decoration: underline;
  color: rgb(204, 204, 204);
}
.ihr-padding-28{
  padding:3px 28px;
}
.ihr-btn-200{
  height:30px;
  width:200px;
}
/* 表单样式 */
.form-inline{
  margin-top:10px;
  width:980px;
  overflow: hidden;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
  color: #ccc;
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
  color: #ccc;
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
}
input:-moz-placeholder,textarea:-moz-placeholder{
  color: #ccc;
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
}
input::-moz-placeholder,textarea::-moz-placeholder{
  color: #ccc;
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
}
.ml-20{
  margin-left:20px;
}
.mr-20{
  margin-right:20px;
}
.ml-22{
  margin-left:22px;
}
.ml-12{
  margin-left:12px;
}
.mt-10{
  margin-top:10px;
}
input,select,textarea{
  font-size: 12px;
  border:1px solid rgba(229, 230, 231, 1);
  border-radius: 2px;
  background-color: #fff;
  color: #666666;
  outline: none;
}
input,select{
  height:22px;
}
input:focus{
  border-color: rgba(25, 170, 141, 1);
}
.ihr-form-item{
  float: left;
  position: relative;
  margin-bottom:4px;
  min-height:22px;
}
.ihr-label{
  float:left;
  font-size: 12px;
  padding-top:3px;
  width:160px;
  text-align: right;
}
.ihr-input,.ihr-input-small,.ihr-input-158, .ihr-input-160{
  float:left;
  padding:3px 5px;
}
.ihr-input{
  width:200px;
}
.ihr-input:disabled{
  background-color:rgba(242, 242, 242, 1);
  border-color:rgba(229, 230, 231, 1);
}
.ihr-input-158{
  width:158px;
}
.ihr-input-160{
  width:160px;
}
.ihr-input-small{
  width:90px;
}
.ihr-input.untext{
  width:178px;
}
.ihr-input-small.untext{
  width:68px;
}
.ihr-label-required{
  float:left;
  font-size: 12px;
  padding-top:3px;
  width:180px;
  text-align: right;
}
.ihr-label-required>span{
  float:right;
  color:#FF0000;
  line-height:22px;
  width:20px;
  text-align: center;
}
input + span.glyphicons,input + span.text{
  position: absolute;
  top:0;
  right:-22px;
  height:22px;
  line-height: 20px;
  width:22px;
  color: #999;
  font-size: 12px;
  border: 1px solid rgba(229, 230, 231, 1);
  border-left:0;
}
input + span.text{
  min-width:22px;
  width:auto;
  padding:0 4px;
  font-weight: 700;
  font-size: 12px;
  color: #666666;
  text-align: center;
  background-color: rgba(242,242,242,1);
  font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
}
input + span.text-40{
  width:40px;
  right:-40px;
}
input + span.glyphicons:before{
  width:22px;
  padding:0;
  text-align: center;
}
input:hover + span.glyphicons{
  background-color: rgba(242,242,242,1);
}
.ihr-label-small{
  float:left;
  width: 20px;
  height: 22px;
  line-height:22px;
  font-size: 12px;
  color: #666666;
  text-align: center;
  font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight: 700;
  font-style: normal;
}
.ihr-hr{/*水平分割线*/
  display: block;
  width: 100%;
  padding-top:10px;
  margin-bottom:10px;
}
/* 文本样式 */
.ihr-textarea{
  width:600px;
  height:78px;
  resize: none;
  padding:4px 6px;
}
/* 单选框，多选框样式 */
.ihr-checkbox,.ihr-radio{
  position: relative;
  height: 16px;
  display:inline-block;
  vertical-align: top;
  font-size: 0;
}
.ihr-checkbox:not(:first-child),.ihr-radio:not(:first-child){
  padding-left:16px;
}
.ihr-checkbox input[type='checkbox'],.ihr-radio input[type='radio'] {
  width: 16px;
  height: 16px;
  opacity: 0;
}
.ihr-checkbox label,.ihr-radio label {
  position: relative;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #666666;
  cursor: pointer;
}
.ihr-checkbox label:before,
.ihr-radio label:before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  position: absolute;
  height: 16px;
  left: -22px;
  top: 3px;
  border: 2px solid rgba(204, 204, 204, 1);
}
.ihr-checkbox label:before{
  border-radius: 2px;
}
.ihr-radio label:before{
  border-radius:50%;
}
.ihr-checkbox label:after{
  content: '';
  position: absolute;
  left: -20px;
  top: 6px;
  background: url('../../_media/checkbox.png') no-repeat top center;
  width: 12px;
  height: 10px;
}
.ihr-radio label:after{
  content: '';
  position: absolute;
  top:7px;
  left:-18px;
  width:8px;
  height:8px;
  border-radius: 50%;
}
.ihr-checkbox input[type='checkbox']:checked + label,
.ihr-radio input[type='radio']:checked + label{
  color:rgb(25, 170, 141);
}
.ihr-checkbox input[type='checkbox']:checked + label.disabled{/*禁用状态*/
  color:rgb(204, 204, 204);
}
.ihr-checkbox input[type='checkbox']:checked + label:before{
  background-color: rgba(25, 170, 141, 1);
  border-color: rgba(25, 170, 141, 1);
}
.ihr-radio input[type='radio']:checked + label:before {
  background-color: #fff;
  border-color: rgba(25, 170, 141, 1);
}
.ihr-checkbox input[type='checkbox']:checked + label.disabled:before{/*禁用状态*/
  background-color: rgba(204, 204, 204, 1);
  border-color: rgba(204, 204, 204, 1);
}
.ihr-checkbox input[type='checkbox']:checked + label:after,
.ihr-radio input[type='radio']:checked + label:after {
  background-color: rgba(25, 170, 141, 1);
}
.ihr-checkbox input[type='checkbox']:checked + label.disabled:after {/*禁用状态*/
  background-color: rgba(204, 204, 204, 1);
}
/* 开关按钮样式 开始 */
.ihr-switch {
  width: 40px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  border-radius: 21px;
  background-color: #ccc;
  overflow: hidden;
  vertical-align: middle;
  font-size: 16px;
  margin-left:20px;
  transform:translateX(-50%);
}

.ihr-switch input {
visibility: hidden;
}

.ihr-switch i{
display: inline-block;
width: 20px;
height: 20px;
position: absolute;
top: 1px;
left: 0;
border-radius: 100%;
background-color: #fff;
-webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,.4);
box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,.4);
transition: all 0.4s;
}
.ihr-switch i::before{
  content: " ";
  display: none;
  width: 38px;
  height: 21px;
  border: 1px solid #19aa8d;
  background-color: #19aa8d;
  border-radius: 21px;
}
.ihr-switch i::after{
content: " ";
display: inline-block;
width: 20px;
height: 20px;
position: absolute;
top: 0;
left:0;
border-radius: 100%;
background-color: #fff;
-webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,.4);
box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,.4);
}
.ihr-switch input:checked + i{
transform:translateX(100%);
-webkit-transform:translateX(100%);
}
.ihr-switch input:not(:checked) + i{
  left:2px;
}
.ihr-switch input:checked + i::after{
  left:-2px;
}
.ihr-switch input:checked + i:before{
  display: inline-block;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
}
/* 开关按钮样式 结束 */
/* 滚动条样式 8px高的*/
::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: transparent;
  border-radius: 9px;
}

::-webkit-scrollbar-thumb {
  background: rgba(204, 204, 204, 1);
  border-radius: 9px;
  background-clip: content-box;
  border: 5px solid transparent
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(153, 153, 153, 1);
  border-radius: 9px;
  background-clip: content-box;
  border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:hover:active {
  background: #19AA8D;
  border-radius: 9px;
  background-clip: content-box;
  border: 5px solid transparent;
}

::-webkit-scrollbar:hover,
::-webkit-scrollbar:hover:active {
  background-color: transparent;
}